{
	"arrowParens": "avoid",
	"tabWidth": 2,
	"semi": true,
	"proseWrap": "always",
	"printWidth": 100,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/lib/(.*)$",
		"^@/components/(.*)$",
		"^@/app/(.*)$",
		"^./(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"overrides": [
		{
			"files": ["*.ts"],
			"options": {
				"parser": "babel-ts"
			}
		}
	]
}
